@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Condensed+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

/* Global styles */
body {
  color: #001011;
  font-family: "Special Gothic Condensed One", "Roboto", sans-serif;
  letter-spacing: 0.05rem;
  margin: 0;
  background: linear-gradient(
    to bottom,
    #003b3f,
    #005c63,
    #007d87,
    #009fa9,
    #00c1cc,
    #00e2ef,
    #00ffff
  );
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 2em 2em;
}

/* Typography */

h1,
h2,
h3,
h4,
p,
li,
a {
  text-shadow: 0px 1px 4px #00000017;
  margin: 1em;
}

h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: 550;
  margin: 2rem auto;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.39);
  padding: 0.5rem 1rem;
  font-family: "Poetsen One", "Special Gothic Condensed One", "Roboto",
    sans-serif;
  background-color: #093a3e;
  color: white;
  text-shadow: 0px 1px 4px #00000056;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0px 1px 4px #00000017;
}

h3 {
  font-size: 1.75rem;
  font-weight: bold;
  text-shadow: 0px 1px 4px #00000017;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 0px 1px 4px #00000017;
}

p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin: auto 0 1em 1em;
}

/* Layout */

nav {
  position: sticky;
  display: flex;
  background-color: #00ffffa1;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

nav li {
  list-style-type: none;
  margin: 0.75em 0;
  padding: 0.75em;
}

nav li a {
  background-color: #00000017;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
  color: #001011;
  text-decoration: none;
  padding: 0.5em 5em;
  margin: 0.5em 0 0 -1em;
  font-size: 1.5em;
}

footer {
  background-color: #001011;
  color: #ffffff;
  text-align: center;
  border: #00000017 solid 0.2rem;
}

footer p {
  margin: 1em;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.171);
  margin: 2rem 0;
}

#About,
#Experience,
#Connect,
#Skills,
#Projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: #00000017 solid 0.2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.171);
}

#About {
  background-color: #3aadb1a9;
}

#Experience {
  background-color: #64e9ee9e;
}

#Skills {
  background-color: #3aaeb9b6;
  padding-bottom: 2em;
}

#Projects {
  background-color: #64e9ee7d;
}

#Connect {
  background-color: #079aad69;
}

#Social-Media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 1rem;
}

#Skills p {
  background-image: url("../images/bullet-point.png");
  margin: 1em 0;
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: left center;
  padding: 0 0 0 1.5em;
}

#Wake-Tech {
  gap: 1rem;
  border: #00000017 solid 0.2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.171);
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto 2em;
}

#WT-Info {
  justify-content: flex-end;
  width: 100%;
  display: flex;
  align-self: flex-start;
  padding: 2em;
  text-align: center;
}

#Projects li,
nav li {
  list-style-type: none;
}

#Projects li a {
  background-color: #00000017;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
  color: #001011;
  text-decoration: none;
  padding: 1em;
}

#Projects li a:visited,
#Projects li a:active {
  text-decoration: none;
  color: #001011;
}

#Projects li a:hover,
nav li a:hover {
  background-color: #000000bd;
  color: #00ffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.39);
  text-decoration: none;
}

#Experience h2 {
  margin-bottom: 1em;
}

#Skills p {
  margin: 1em;
}

#About p {
  margin: 1em;
}

img {
  width: 4em;
  height: auto;
  margin: 0 2em 2em;
}

/* Media Queries*/

/* Tablets */
@media (min-width: 600px) {
  nav ul {
    display: flex;
    margin-left: -1em;
    padding: 0;
  }

  nav li {
    margin: 0.5em;
    padding: 1em;
    font-size: 10px;
  }

  nav li a {
    padding: 1em;
    margin: 0.5em;
  }
}

/* Larger Than Tablets */
@media (min-width: 1000px) {
  nav {
    height: 100px;
    width: 100%;
  }
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  nav li {
    margin: 0.5em;
    padding: 1em;
    font-size: 15px;
  }
}
