@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Condensed+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

/* Global styles */
body {
  color: #001011;
  font-family: "Special Gothic Condensed One", "Roboto", sans-serif;
  letter-spacing: 0.05rem;
  margin: 0;
  background: linear-gradient(
    to bottom,
    #007d87,
    #009fa9,
    #00c1cc,
    #00e2ef,
    #00ffff
  );
}

main {
  margin: 0 2em 2em;
}

/* Typography */

h1,
h2,
h3,
h4,
p,
li,
a {
  text-shadow: 0px 1px 4px #00000017;
  margin: 1em;
}

h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: 550;
  margin: 2rem auto;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.39);
  padding: 1rem;
  font-family: "Poetsen One", "Special Gothic Condensed One", "Roboto",
    sans-serif;
  background-color: #093a3e;
  color: white;
  text-shadow: 0px 1px 4px #00000056;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0px 1px 4px #00000017;
}

h3 {
  font-size: 1.75rem;
  font-weight: bold;
  text-shadow: 0px 1px 4px #00000017;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 0px 1px 4px #00000017;
}

p {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

label {
  font-size: 1.75rem;
}

/* Typography ends */

/* Layout */

nav {
  position: sticky;
  display: flex;
  background-color: #00ffffa1;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

nav ul {
  padding: 0;
}

nav li {
  list-style-type: none;
  margin: 0.75em 0;
  padding: 0.75em;
}

nav li a {
  background-color: #00000017;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
  color: #001011;
  text-decoration: none;
  padding: 0.5em 5em;
  margin: 0.5em 0 0 0;
  font-size: 1.5em;
}

footer {
  background-color: #001011;
  color: #ffffff;
  text-align: center;
  border: #00000017 solid 0.2rem;
}

footer p {
  margin: 1em;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

/* Sections */

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.171);
  margin: 2rem 0;
  border: #ffffff08 solid 0.2rem;
}

#About {
  background-color: #2abcc9b6;
}

#Experience {
  background-color: #5dfaff9e;
}

#Skills {
  background-color: #2abcc9b6;
}

#Projects {
  background-color: #64e9ee7d;
  padding-bottom: 2em;
}

#Connect {
  background-color: #079aad69;
  padding-bottom: 2em;
}

#Social-Media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 1rem;
}

/* Sections ends */

/* Section elements */

#leave_message {
  background-color: #5dfaff62;
}

#Skills li {
  background-image: url("../images/bullet-point.png");
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: left center;
  padding: 0 0 0 1.5em;
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin: auto 0 2em auto;
  list-style-type: none;
}

#Wake-Tech {
  gap: 1rem;
  border: #00000017 solid 0.2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.171);
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto 2em;
}

#WT-Info {
  justify-content: flex-end;
  width: 100%;
  display: flex;
  align-self: flex-start;
  padding: 2rem 2rem 0 0;
  text-align: center;
}

#Projects li,
nav li,
#messages li {
  list-style-type: none;
}

#Projects ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  float: left;
  padding: 0;
}

#Projects li {
  background-color: #00000017;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
  color: #001011;
  text-decoration: none;
  padding: 1em;
  font-size: 1.5em;
  justify-content: center;
  text-align: center;
}

#Projects li a {
  text-decoration: none;
  color: #001011;
}

#Projects li:hover a {
  color: #00ffff;
}
nav li a:hover,
#Projects li:hover {
  background: #000000bd;
  color: #00ffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.39);
  text-decoration: none;
}

#Experience h2 {
  margin-bottom: 1em;
}

#About p {
  margin: 0 1.5rem 1.5rem 1.5rem;
}

img {
  width: 4em;
  height: auto;
  margin: 0;
}

#Message {
  align-items: center;
  padding-bottom: 1em;
  line-height: 1em;
}

#Message h2 {
  align-self: flex-start;
}

#Message textarea {
  height: 10em;
  max-width: 20em;
  max-height: 20em;
  padding: 1em;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.171);
  font-size: 1rem;
  margin: 1em;
  border: #00000017;
}

#Message input[type="text"],
#Message input[type="email"] {
  width: 80%;
  padding: 1em;
  border-radius: 1rem;
  border: #00000017;
  font-size: 1rem;
  margin: 1em;
  margin-bottom: 2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.171);
}
#leave_message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.171);
  padding-top: 1em;
}

button {
  background-color: #00000017;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
  color: #001011;
  text-decoration: none;
  padding: 0.5em;
  margin: 0.5em;
  font-size: 1.5em;
  border: #00000017;
}

button:hover {
  background-color: #000000e6;
  color: #00ffff;
  text-decoration: none;
  border: #00000017;
}

#messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.171);
  padding-top: 1em;
}
#messages h2 {
  align-self: flex-start;
}

#messages ul {
  list-style-type: none;
  padding: 0;
  margin-left: 0;
}

#messages li {
  margin: 1em;
  text-decoration: none;
  font-size: 1.5em;
  width: 80%;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.171);
  padding: 1rem;
}

#messages li a,
#messages li span {
  text-decoration: none;
  color: black;
  font-weight: normal;
}

#messages li span {
  font-size: 1em;
  margin: 1rem;
  width: 90%;
  word-wrap: break-word;
}

#messages li a {
  font-weight: bold;
  text-decoration: none;
  padding: 0.5em;
  margin: 1em;
  font-size: 1.5em;
}

#messages button {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 2em;
  padding: 1em;
}

#messages button:hover {
  background-color: #000000e6;
  color: #ffffff;
  text-decoration: none;
  border: #00000017;
}

#Message button {
  font-size: 1rem;
  font-weight: bold;
  padding: 1em;
  width: 50%;
}

/* Section elements ends */

/* Global styles end */

/* Media Queries*/

/* Tablets */
@media (min-width: 600px) {
  nav ul {
    display: flex;
    padding: 0;
  }

  nav li {
    font-size: 10px;
  }

  nav li a {
    padding: 1em;
    margin: 0.3em;
  }

  #Message button {
    font-size: 2em;
    margin: 0.5em;
    font-weight: bold;
    width: 80%;
  }

  #Message textarea {
    min-width: 20em;
    min-height: 20em;
    height: 10em;
    max-width: 20em;
    max-height: 20em;
    padding: 1em;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.171);
    font-size: 1rem;
    margin: 1em;
    border: #00000017;
  }

  #Social-Media a {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
/* Tablets ends */

/* Larger Than Tablets */
@media (min-width: 1000px) {
  nav {
    height: 100px;
    width: 100%;
  }
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  nav li {
    margin: 0.5em;
    padding: 1em;
    font-size: 15px;
  }

  #Message {
    line-height: 1em;
  }

  #Message button {
    font-size: 2rem;
    min-width: 20em;
    margin: 0.5em;
    padding: 1em;
    width: 90%;
    font-weight: bold;
  }

  #Message textarea {
    min-width: 35em;
    min-height: 7em;
    max-width: 35em;
    max-height: 7em;
    padding: 1em;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.171);
    font-size: 1rem;
    margin: 1em;
    border: #00000017;
  }
}
/* Larger Than Tablets ends */
/* Media Queries ends */
